#has {
  width: 20ch;
  font-family: monospace;
  white-space: nowrap; /* prevents wrapping */
  overflow: hidden;
  animation: typing 2s steps(20) infinite alternate-reverse;
}

@keyframes typing {
  from {
    width: 8ch;
  }
}

